* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0rem;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.new-task {
  border-right: 1px solid;
  flex-basis: 40%;
}

.to-do-list {
  flex-basis: 60%;
  position: relative;
  overflow-y: scroll;
}